{% extends 'base.html' %}

{% block content %}
  <h2>Мой профиль</h2>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить изменения</button>
  </form>

  <br>
  <h3>Мои тесты</h3>

  {% if user_exams %}
    <form method="POST" action="{% url 'delete_selected_exams' %}">
    {% csrf_token %}
    <ul class="exam-list">
        {% for user_exam in user_exams %}
            <li class="exam-item">
                <input type="checkbox" name="selected_exams" value="{{ user_exam.id }}" class="exam-checkbox">
                <div class="exam-info">
                    <strong>{{ user_exam.title }}</strong>
                    <p>{{ user_exam.description }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
    <button type="submit" class="delete-btn">Удалить выбранные</button>
</form>
  {% else %}
    <p>Вы не создали ни одного теста</p>
  {% endif %}

  <p><a href="{% url 'home' %}">На главную</a></p>
{% endblock %}