{% extends 'base.html' %}

{% block content %}
  <h2>Доступные тесты</h2>

  <!-- Поисковая строка -->
  <form method="GET" action="{% url 'home' %}">
    <input type="text" name="q" value="{{ search_query }}" placeholder="Поиск по названию теста">
    <button type="submit">Поиск</button>
  </form>

  <!-- Список тестов -->
  <ul>
    {% for exam in page_obj %}
      <li>
        <a href="{% url 'start_exam' exam_id=exam.id %}">{{ exam.title }}</a>  <!-- Изменена ссылка на начало теста -->
        <p>{{ exam.description }}</p>
      </li>
    {% endfor %}
  </ul>

  <!-- Пагинация -->
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1&q={{ search_query }}">Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}&q={{ search_query }}">Предыдущая</a>
      {% endif %}

      <span class="current">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&q={{ search_query }}">Следующая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&q={{ search_query }}">Последняя</a>
      {% endif %}
    </span>
  </div>

{% endblock %}